anyio==3.3.0; python_full_version >= "3.6.2" and python_version >= "3.6"
base58==2.1.0; python_version >= "3.6" and python_version < "4.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4.0"
cryptos==1.36; python_version >= "3.6" and python_version < "4.0"
h11==0.12.0; python_version >= "3.6"
httpcore==0.14.3; python_version >= "3.6"
httpx==0.21.1; python_version >= "3.6"
idna==3.2; python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0") and python_full_version >= "3.6.2"
pydantic==1.8.2; python_full_version >= "3.6.1"
requests==2.26.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
rfc3986==1.5.0; python_version >= "3.6"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
typing-extensions==3.7.4.3; python_full_version >= "3.6.1"
ueosio==0.2.6; python_version >= "3.6" and python_version < "4.0"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
